@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1vw;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.active {
  color: black;
  font-weight: 500;
}
.loader {
  background-image: conic-gradiEnt(black 300deg, white 300deg);
  animation: anim 3s infinite linear;
}

@keyframes anim {
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 3.4vw;
  }
}
